<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">

  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <!-- Carousel nav -->


</div>