<!--==========================
  Contact Section
  ============================-->
<section id="contact">
  <div class="container">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <h3 class="section-title">Contact Us</h3>
          <div class="section-title-divider">
          </div>
          <p class="section-description">Don't hesitate to contact us to request information about our services or book
            an appointment</p>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4">
          <div class="container">
            <div class="row">
              <div class="col-xs-3 col-md-1">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="col-xs-7 col-md-3">
                <p>{{address}}</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xs-3 col-md-1">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="col-xs-7 col-md-3">
                <p>{{webmail}}</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xs-3 col-md-1">
                <i class="fa fa-phone"></i>
              </div>
              <div class="col-xs-7 col-md-3">
                <p>{{businessPhone}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="send" method="POST" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                  data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <!-- CUSTOM TELPH RICARD-->
              <div class="form-group">
                <input type="phone" class="form-control" name="phone" id="phone" placeholder="Your Phone number"
                  data-rule="phone" data-rule="minlen:10" data-msg="Please enter a valid phone number" />
                <div class="validation"></div>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least  chars of subject" />
                <div class="validation"></div>
              </div>

              <div class="form-group">
                <select id="treatment" name="treatment">
                  <option value="Choose a treatment">Choose a treatment</option>
                  <option value="Foot Reflexology treatment">Foot Reflexology treatment</option>
                  <option value="Hand Reflexology">Hand Reflexology</option>
                  <option value="Facial Reflexologyo">Facial Reflexology</option>
                  <option value="Pamper Parties">Pamper Parties</option>
                  <option value="De-stress after-work package">De-stress after-work package</option>
                  <option value="Pre-concept., pregn. & post-natal pack.">Pre-concept., pregn. & post-natal pack.
                  </option>
                  <option value="Others">Others</option>
                </select>
              </div>

              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="checkbox" name="gdpr" value="gdpr"> I have read and accept the
                <a href="/privacy">privacy & GDPR policies</a>
                <br>
              </div>
              <div class="g-recaptcha" data-sitekey="6LcdWHYUAAAAAMppTe0oGpG9gtZ6FAmuvCb_CWzd"></div>
              <br>
              <div class="text-center">
                <button type="submit">Send Message</button>
              </div>
            </form>
          </div>


        </div>
      </div>







    </div>

</section>

{{!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('#comment_form').submit(function () {
      $(this).ajaxSubmit({
        error: function (xhr) {
          status('Error: ' + xhr.status);
        },
        success: function (response) {
          console.log(response);
        }
      });
      //Very important line, it disable the page refresh.
      return false;
    });
  });
</script> --}}


<!--==========================
  End of Contact Section
  ============================-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script>
   // Will put our custom code here.
</script>