<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero-carousel">

  <div class="wow fadeIn">

    <div id="carousel" class=" carousel slide carousel-fade" data-ride="carousel">



      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
      <!-- Carousel nav -->








      <img class="" src="public/img/logo.png" alt="Step to Serenity logo"> {{!--src="public/img/logohannah.png" --}}
    </div>
  </div>

  <h1>{{h1Title}}</h1>
  <h2>Reflexology
    <span class="rotating">for your feet, for your health, for your happiness</span>
  </h2>
  <div class="actions">
    <a href="#contact" class="btn-get-started">Contact Us</a>
    <a href="#services" class="btn-services">Treatments</a>
  </div>





  </div>
  </div>

  <p> {{msg}}</p>
</section>