<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      {{> header}}
      <div class="hero-logo">
        <img class="" src="public/img/logo.png" alt="Step to Serenity logo"> {{!--src="public/img/logohannah.png" --}}
      </div>
      <h1>{{h1Title}}</h1>
      <h2>Reflexology
        <span class="rotating">for your feet, for your health, for your happiness</span>
      </h2>
      <div class="actions">
        <a href="#contact" class="btn-get-started">Contact Us</a>
        <a href="#services" class="btn-services">Treatments</a>
      </div>


      <div align="center" class="container">
        <div class="row" style="height: 30px;">
          <div class="col-lg-3 hidden-md hidden-xs hidden-sm">
            <span style="color:white">Step to Serenity is part of</span>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-lg-12 hidden-md hidden-xs hidden-sm">
            <div class="col-lg-1">
              <a target="_blank" href="">
                <img class="links" src="public/img/associationOfReflexologists.jpeg" style="width:140px;height:80px; margin: 5px 0 20px 0;"
                  alt="Step to Serenity is part of the Association of Reflexologists">
              </a>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>

  <p> {{msg}}</p>
</section>