<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      {{> header}}
      <div class="hero-logo">
        <img class="" src="public/img/logo.png" alt="Step to Serenity logo"> {{!--src="public/img/logohannah.png" --}}
      </div>
      <h1>{{h1Title}}</h1>
      <h2>Reflexology
        <span class="rotating">for your feet, for your health, for your happiness</span>
      </h2>
      <div class="actions">
        <a href="#contact" class="btn-get-started">Contact Us</a>
        <a href="#services" class="btn-services">Treatments</a>
      </div>





    </div>
  </div>

  <p> {{msg}}</p>
</section>