<!--==========================
  Services Section
  ============================-->
<section id="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Treatments &amp Prices</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Check out all the reflexology
          <b>treatments</b> available at the Step to Serenity*</p>
      </div>
    </div>

    <div class="row">


      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Foot reflexology</a>
            </h4>
            <p class="service-description">The human foot has 7,000 nerve ending. When gentle pressure techniques are applied to specific reflex points
              on the foot they stimulate the flow of energy, blood nutrients and nerve impulses to the corresponding body
              area...
            </p>

            <p id="collapse1" class="service-description collapse">The pressure applied can be adjusted should you experience discomfort at any time. Foot reflexology is one the
              most popular treatments offered by Step to Serenity.
            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>
            <div class="row">
              <div align="center" class="col-xs-12 price-holder">PRICE:
                <span class="price">£45.00 (£50.00 home)</span>
              </div>
              <div align="center" class="col-xs-12 duration-holder">DURATION:
                <span class="price">55min</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Facial Reflexology</a>
            </h4>
            <p class="service-description">The face is a beautiful and precise tool that can indicate what is happening within the body’s internal organs
              and the central nervous system. Facial reflexology works with the reflex points on the face, helping to stimulate
              the body’s own healing mechanism...

            </p>

            <p id="collapse2" class="service-description collapse">This improves circulation, nerve condition and eliminates toxins via the lymphatic system. The close proximity
              of the face to the brain and cranial nerves enables Facial reflexology to have a powerful impact on the body’s
              systems. Throughout a course of treatment, clients will notice a smoother more toned complexion with a reduction
              of fine lines and wrinkles. The result is a healthy glow on the outside and wellbeing within.


            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>

            <div class="row">
              <div align="center" class="col-xs-12 price-holder">PRICE:
                <span class="price">£50.00 (£55.00 home)</span>
              </div>
              <div align="center" class="col-xs-12 duration-holder">DURATION:
                <span class="price">55min</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Hand Reflexology</a>
            </h4>
            <p class="service-description">Hand reflexology is a massage technique which puts pressure on specific reflex points in the hands, promoting
              optimal function and wellbeing of the body. Specific points on the hands can identify areas of the body that
              are out of balance or not functioning properly...</p>


            <p id="collapse3" class="service-description collapse">This treatment is ideal for people who either don’t like having their feet being touched or have restricted access
              i.e. injury.


            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>


            <div class="row">
              <div align="center" class="col-xs-12 price-holder">PRICE:
                <span class="price">£35.00 (£40.00 home)</span>
              </div>
              <div align="center" class="col-xs-12 duration-holder">DURATION:
                <span class="price">30min</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-12 top-buffer"></div>



      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Pamper Party Package</a>
            </h4>
            <p class=" service-description ">Staying in is the new going out! Enjoy a luxury experience by holding a pamper party tailored to your specific
              needs. The event can consist of a mixture of reflexology treatments. Each treatment usually lasts from 15-30
              minutes depending on the number of guests.
            </p>

            <p id="collapse4" class="service-description collapse">All equipment is provided, including relaxing music and candles which will be set up in a separate room to give
              your guests the ultimate experience. Prices are based on individual requirements and bookings are available
              evenings and weekends.</p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>
            <div class="row">
              <div align="center" class="col-xs-12 price-holder">PRICE:
                <span class="price">*On request</span>
              </div>
              <div align="center" class="col-xs-12 duration-holder">DURATION:
                <span class="price">15-30min/guest</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title" style="width:100%;margin-left:0;">
              <a href="#contact">De-Stress After Work Package</a>
            </h4>
            <p class="service-description ">Feeling tired and irritable after a hard day at work? The de-stress reflexology package enables you to have a
              course of
              <b>six evening treatments</b> in the comfort of your own home. This is a deeply relaxing, calming and enjoyable
              experience...
            </p>
            <p id="collapse5" class="service-description collapse">All equipment is provided, including reflexology creams relaxing music and candles. A full medical history will
              be taken to determine the most appropriate treatment plan to enhance relaxation and a good night’s sleep.</p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>

            <div class="row">
              <div align="center" class="col-xs-12 price-holder">PRICE:
                <span class="price">£240.00</span>
              </div>
              <div align="center" class="col-xs-12 duration-holder">DURATION:
                <span class="price">55min</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact">Pre-Conception, Pregnancy and Post–Natal Reflexology
              </a>
            </h4>
            <p class="service-description">Reflexology, as part of a healthy lifestyle, can help you preserve your balance and happiness through the pre-conception,
              pregnancy and post–natal phases. As individual sessions or as a course of
              <strong>six treatments</strong>, this package includes...
            </p>
            <p id="collapse6" class="service-description collapse">

              <br/>
              <b>Pre-Conception</b>
              <br/> It is important that our bodies and minds are in tune for conception. Reflexology, as part of a healthy lifestyle,
              can help and support both partners at this time.
              <br/>
              <br/>
              <b>Pregnancy</b>
              <br/> Reflexology may aid with the emotional changes a woman goes through during pregnancy. It can bring a sense
              of
              <strong>well-being</strong> during a time of hormonal and physical changes. It’s recommended that clients start having
              reflexology at least six weeks before their due date. It is thought that when stress and anxiety levels rise,
              stress hormones can delay the onset of labour. So relaxation is the key. Treatments become more targeted as
              the due date approaches and I focus on stimulating the appropriate reflexes to prepare for labour. Although
              it’s not claimed that reflexology can induce labour, I help support my client mentally, physically and emotionally,
              whilst promoting relaxation.
              <br/>
              <br/>
              <b>Post-natal</b>
              <br/>Pregnancy and birth can be a very stressful process both for the body and mind. Reflexology aims to restore
              balance and well-being to new mums. Post-natal reflexology can support the new mother when she feels the time
              is right. Baby will be more than welcome at the session too.

              <br/>
              <br/> *Reflexology is safe and effective during pregnancy. However, it is not recommended if there is a history
              of premature labour, severe hypertension, placenta previa or recent vaginal bleeding. If any problems are suspected
              it is important to contact you doctor or midwife immediately.


            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>
            <div class="row">
              <div align="center" class="col-xs-12 price-holder">PRICE:
                <span class="price">£45.00-£240.00 (course)</span>
              </div>
              <div align="center" class="col-xs-12 duration-holder">DURATION:
                <span class="price">55min</span>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="col-md-12 top-buffer"></div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 bottom-align-text ">
            <h5 class="cancellation ">*CANCELLATION POLICY:</h5>
            <p class="cancellation-p ">{{cancellationPolicy1}}</p>
            <p class="cancellation-p ">{{cancellationPolicy2}}</p>
            <p class="cancellation-p ">{{cancellationPolicy3}}</p>
          </div>
        </div>
      </div>


    </div>




  </div>


</section>