<!--==========================
  Services Section
  ============================-->
<section id="services">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Treatments &amp Prices</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Check out all the reflexology treatments available at the Step to Serenity*</p>
      </div>
    </div>

    <div class="row">


      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Foot reflexology treatment</a>
            </h4>
            <p class="service-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id doloribus culpa necessitatibus, animi, natus optio
              officia aliquid, magni harum architecto a nihil? Perspiciatis, quaerat! Inventore, est fuga. Soluta deserunt
              odit ullam totam adipisci, nemo suscipit reiciendis, nam ab nesciunt facilis, dolore ut fuga? Inventore velit
              voluptate eius, iure distinctio animi similique saepe error laudantium veniam consequuntur aspernatur, labore
              nam eveniet.</p>

            <p id="collapse1" class="service-description collapse">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi, quisquam
              facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse, nihil est
              veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam. Asperiores
              optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat suscipit
              ipsam in.

            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>
            <div class="row">
              <div class="col-xs-6 price-holder">PRICE:
                <span class="price">£45 (£55 home)</span>
              </div>
              <div class="col-xs-6 price-holder">DURATION:
                <span class="price">55min</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Hand reflexology</a>
            </h4>
            <p class="service-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi, quisquam
              facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse, nihil est
              veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam. Asperiores
              optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat suscipit
              ipsam in.

            </p>

            <p id="collapse2" class="service-description collapse">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi, quisquam
              facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse, nihil est
              veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam. Asperiores
              optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat suscipit
              ipsam in.

            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>

            <div class="row">
              <div class="col-xs-6 price-holder">PRICE:
                <span class="price">£45 (£55 home)</span>
              </div>
              <div class="col-xs-6 price-holder">DURATION:
                <span class="price">55min</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Facial reflexology</a>
            </h4>
            <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ut dolores exercitationem nihil. Labore modi repellat
              deleniti, quibusdam dolores cum eaque molestiae ut expedita officia, aut quae non atque rem </p>
            <p class="special-offer">Special offer, join our six or twelve weeks programme:
              <ul>
                <li>
                  <strong>6 week programme £270</strong>
                </li>
                <li>
                  <strong>12 week programme £500</strong>
                </li>
              </ul>

              <p id="collapse3" class="service-description collapse">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi,
                quisquam facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse,
                nihil est veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam.
                Asperiores optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat
                suscipit ipsam in.

              </p>
              <div class="text-center col-xs-12">
                <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  READ MORE
                </button>
              </div>

              <div class="text-center col-xs-12">
                <a class="none" href="#contact">
                  <button class="btn btn-collapse pulse" type="button">
                    BOOK THIS TREATMENT
                  </button>
                </a>
              </div>
              <div class="top-buffer"></div>


              <div class="row">
                <div class="col-xs-6 price-holder">PRICE:
                  <span class="price">£50 (£60 home)</span>
                </div>
                <div class="col-xs-6 price-holder">DURATION:
                  <span class="price">55min</span>
                </div>
              </div>
          </div>
        </div>
      </div>


      <div class="col-md-12 top-buffer"></div>



      <div class="col-md-4 hold">
        <div class="col-md-12 box">
          <div class="col-xs-12">
            <h4 class="service-title">
              <a href="#contact">Pamper Parties</a>
            </h4>
            <p class=" service-description ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt blanditiis vitae voluptates accusantium nemo
              eligendi eaque dolorem? Deleniti et at rerum, quis possimus provident vero, quia, consequuntur fugiat id omnis
              eaque earum minima deserunt pariatur doloremque non explicabo? Vitae, quos. please contact me to discuss your
              requirements and get a quote.
              <strong>(You will get a £15 gift voucher for holding a party at your home)</strong>
            </p>

            <p id="collapse4" class="service-description collapse">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi, quisquam
              facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse, nihil est
              veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam. Asperiores
              optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat suscipit
              ipsam in.

            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>
            <div class="row">
              <div class="col-xs-6 price-holder">PRICE:
                <span class="price">£199 (home)</span>
              </div>
              <div class="col-xs-6 price-holder">DURATION:
                <span class="price">2h</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact">De-stress after work package</a>
            </h4>
            <p class="service-description ">Tailor made reflexology treatments to de-stress, relax and promote good sleep (evenings only)</p>
            <p id="collapse5" class="service-description collapse">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi, quisquam
              facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse, nihil est
              veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam. Asperiores
              optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat suscipit
              ipsam in.

            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>
          </div>
        </div>
      </div>


      <div class="col-md-4 hold ">
        <div class="col-md-12 box ">
          <div class="col-xs-12 ">
            <h4 class="service-title ">
              <a href="#contact">Pre-conception, pregnancy and post natal package</a>
            </h4>
            <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptatem fuga obcaecati eaque fugit aut
              quo sed magnam illo minima unde ipsum provident deserunt officia omnis nobis, minus magni architecto recusandae
              impedit voluptate culpa natus expedita? Et, hic quisquam incidunt fugiat ipsum explicabo dolorum asperiores
              voluptatibus optio dignissimos sapiente cumque culpa.
            </p>
            <p id="collapse6" class="service-description collapse">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure pariatur qui et cumque amet voluptate sequi, quisquam
              facilis. Labore alias, velit quae voluptatum asperiores accusantium delectus atque possimus esse, nihil est
              veniam quibusdam non natus quaerat sit quos quasi repellendus dolore dignissimos ullam laboriosam. Asperiores
              optio illum nulla fugit tempora aliquid placeat suscipit ipsam in. a fugit tempora aliquid placeat suscipit
              ipsam in.

            </p>
            <div class="text-center col-xs-12">
              <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                READ MORE
              </button>
            </div>

            <div class="text-center col-xs-12">
              <a class="none" href="#contact">
                <button class="btn btn-collapse pulse" type="button">
                  BOOK THIS TREATMENT
                </button>
              </a>
            </div>
            <div class="top-buffer"></div>
            <div class="row">
              <div class="col-xs-6 price-holder">PRICE:
                <span class="price">£89 (£99 home)</span>
              </div>
              <div class="col-xs-6 price-holder">DURATION:
                <span class="price">2h</span>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="col-md-12 top-buffer"></div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 bottom-align-text ">
            <h5 class="cancellation ">*CANCELLATION POLICY:</h5>
            <p class="cancellation-p ">{{cancellationPolicy1}}</p>
            <p class="cancellation-p ">{{cancellationPolicy2}}</p>
            <p class="cancellation-p ">{{cancellationPolicy3}}</p>
          </div>
        </div>
      </div>


    </div>




  </div>


</section>