<!--==========================
  Testimonials Section
  ============================-->
<section id="testimonials">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Testimonials</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Read what other patients think about us</p>
      </div>
    </div>

    <div class="container">


      <div class="row">

        <div class="col-xs-12">

          <blockquote>
            "I thoroughly enjoyed my reflexology sessions with Amanda. She is very welcoming and immediately puts me at ease. Amanda
            is extremely knowledgeable and caring and the treatment is very relaxing and leaves me with a great feeling of
            wellbeing. After each session, I feel so much more relaxed and de-stressed which I am sure helps to ease the
            long term back pain I suffer with. I always sleep so much better after a treatment and feel energised the next
            day. Reflexology has definitely had a positive impact on my life and I cannot recommend Amanda highly enough."
          </blockquote>
          <p>
            Marian Mesure (Clinical Administrator)
          </p>

          <blockquote>

            "I have worked in a challenging corporate environment for many years. A mixture of long hours and unpredictable deadlines
            often leaves me in a cycle of exhaustion and stress. I decided to try a course of reflexology from Amanda to
            see if it would help. I found the sessions incredibly relaxing, leaving me with a sense of inner calm. I also
            found that I was sleeping better than I had done in years. Amanda creates a very calming and tranquil experience.
            Thank you again."
          </blockquote>
          <p>
            -Marc Harding, (Bid Manager)
          </p>


          <blockquote>

            "I have worked in a challenging corporate environment for many years. A mixture of long hours and unpredictable deadlines
            often leaves me in a cycle of exhaustion and stress. I decided to try a course of reflexology from Amanda to
            see if it would help. I found the sessions incredibly relaxing, leaving me with a sense of inner calm. I also
            found that I was sleeping better than I had done in years. Amanda creates a very calming and tranquil experience.
            Thank you again."
          </blockquote>
          <p>
            -Alan Hartnup (Retired Engineer)
          </p>

          <blockquote>

            "For a number of years, I have suffered with headaches. I was a bit sceptical when a friend recommended that I try reflexology.
            However after the first treatment, I realised the headaches were both less frequent and severe. I now see Amanda
            regularly for reflexology as a way of controlling and preventing this problem. I would have no hesitation in
            reccommending her."
          </blockquote>
          <p>
            D Newman (Podiatrist)
          </p>

          {{!--
          <div id="google-reviews"></div>


          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js "></script>
          <script src="https://cdn.rawgit.com/stevenmonson/googleReviews/6e8f0d79/google-places.js "></script>
          <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAILk-KjSRSeXsJYn7GF82mLUWR0qZ9N_k&signed_in=true&libraries=places "></script>

          <script>
            jQuery(document).ready(function ($) {
              $("#google-reviews").googlePlaces({
                placeId: 'ChIJM63sJx1acUgRex-L1c-jV3E' //Find placeID @: https://developers.google.com/places/place-id
                , render: ['reviews']
                , min_rating: 4
                , max_rows: 1
              });
            });
          </script>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <script language='javascript1.1'>
            var nr_placeid = 'ChIJM63sJx1acUgRex-L1c-jV3E';
            var nr_width = '100%';
            var nr_height = 380;
            var nr_directreviewbox = 0;
            var nr_buttonCol = "df4a32 "; // Amend this value to change your review button colour (hex color values only rrggbb)
            var nr_transparency = false; // Set this to true to have a transparent widget with no border
          </script>
          <script language='javascript1.1' src='https://www.netrite.net/google-review-code/googlereviews_ssl.js'></script>
        </div> --}}
      </div>
    </div>





    {{!--
    <div class="quote g-post " data-href="https://plus.google.com/110305096641053854518/posts/VDE662deNcT ">

    </div> --}}


  </div>




</section>