<!--==========================
  Testimonials Section
  ============================-->
<section id="testimonials">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Testimonials</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">At Step To Serenity, we truly value the happiness and feedback of our patients. Take a look to what other patients
          think about us, and don't forget to follow us on
          <a href="https://www.facebook.com/steptoserenity/">Facebook</a> for more updates!</p>
      </div>
    </div>

    <div class="row">


      <div id="fb-root"></div>
      <p>
        <script>(function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
      </p>

      <div style="min-height:410px;">
        <div style="padding:1px 6px; max-width:99%;" class="fb-post" data-href="https://www.facebook.com/sarah.gilbert.3139241/activity/1968500693422254"
          data-width="270">
        </div>
        <div style="padding:1px 6px; max-width:99%;" class="fb-post" data-href="https://www.facebook.com/emma.bennett.5268750/activity/10154550284707723"
          data-width="270">
        </div>
        <div style="padding:1px 6px; max-width:99%;" class="fb-post" data-href="https://www.facebook.com/anna.star.77/activity/10155492094531186"
          data-width="270">
        </div>
      </div>

      <div class="top-buffer"></div>
      <div style="min-height:410px;">
        <div style="padding:1px 6px; max-width:99%;" class="fb-post" data-href="https://www.facebook.com/becca.carr.52/activity/10155514599926726"
          data-width="270">
        </div>
        <div style="padding:1px 6px; max-width:99%;" class="fb-post" data-href="https://www.facebook.com/maria.everett.50/activity/10155486409669420"
          data-width="270">
        </div>
        <div style="padding:1px 6px; max-width:99%;" class="fb-post" data-href="https://www.facebook.com/100006098298861/activity/1891002101113048"
          data-width="270">
        </div>


      </div>

    </div>


  </div>


  </div>
  </div>




  </div>




</section>