<!DOCTYPE html>
<html lang="en">
{{> headPolicy}}

<body data-spy="scroll" data-target=".navbar" data-offset="10">


  <section id="thanks">


    <div class="container" style="margin-top:20px;">
      <a href="/">
        <p>
          <button>Go back</button>
        </p>
      </a>


    </div>


    <div class="container">

      <div class="row ">
        <div class="col-xs-12 ">
          <h3>{{company}} GDPR: Data Protection Policy</h3>
          <blockquote>
            This Privacy Policy describes {{company}}'s practices regarding the collection, use and disclosure of the information we
            collect from and about you when you use {{company}}’s website, mobile applications, social media, products and
            services.  By accessing or using the services, you agree to this Privacy Policy.

          </blockquote>

          <h4>GDPR Registration</h4>
          <h5>1.The data that I process and how it flows into, through and out of my business.</h5>
          <p>Data comes into my business in 4 ways:</p>
          <ul>
            <li>Via email messages to me from potential clients(PC) and clients(C) that have my email address</li>
            <li>Via text messages (as above)</li>
            <li>Via my website</li>
            <li>Via Facebook Messenger</li>
          </ul>


          <p>
            It flows through my business via:
          </p>
          <ul>
            <li>My smart phone - everywhere I go</li>
            <li>My paper file - stored  in a lockable record cabinet</li>
          </ul>

          <h5>2. The personal data I hold, where it came from, who I share I with and what I do with it.</h5>
          <p>Information Asset Register</p>

          <ul>
            <li>I hold personal information about my clients that they have given me.</li>
            <li>This includes name, address, contact details, and, where appropriate, age. I also hold health and wellbeing information
              about them which I collect from them at their first consultation.
            </li>


            <li>I hold information about each treatment that they receive from me.

            </li>
            <li>I don’t share this information with anyone. </li>


            <li>I use the information I have to inform my treatments and provide them with any appropriate advice within the
              realms of the treatment, my professional experience and qualifications.
            </li>

            <ul>
              <li>a) for claims occurring insurance: for which I am required to keep my records for 7 years after the last treatment
              </li>
              <li>b) law regarding children’s records: for which I am required to keep my records until the child is 25 or if
                17 when treated then until they are 26.
              </li>
              <li>c) registration with The Association of Reflexologists (for my work as a Reflexologist): for which I am required
                to retain information for 8 years.</li>
            </ul>

          </ul>


          <h5>3.The lawful bases for me to process personal data and special categories of data.</h5>


          <p>I process the personal data under:</p>

          <ul>
            <li>Legitimate interest: I am required to retain the information about my clients in order to provide them with the
              best possible treatment options and advice.
            </li>
            <li>Special Category Data - Health Related: I process under special category data, therefore the additional condition
              under which I hold and use this information is for me to fulfil my role as a healthcare practitioner, bound
              under the AoR Confidentiality as defined in their Codes of Practice and Ethics.</li>
          </ul>

          <h5>4. Privacy Notice
          </h5>

          <p>Individuals need to know that their data is collected, why it is processed and who it is shared with.  This information
            in included in my privacy notice on my website and within any forms or letters I send to individuals, including
            at my first consultation with my client.</p>
          <p>I have written a privacy notice for my website and for my clients, and have ensured that the privacy notice includes
            all of the information included in the ICO privacy notice checklist at:
            <a href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-be-informed#table">https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/right-to-be-informed#table</a>
          </p>

          <h5>5. Processes to recognise and respond to individuals' requests to access their personal data.</h5>

          <p>All individuals will need to submit a written request to access their personal data - either by email or by letter.
             I will provide that information without delay and at least within one calendar month of receipt. I can extend
            this period by a further two months for complex or numerous requests (in which case the individual will be informed
            and given an explanation).
          </p>
          <p>I will identify the client using reasonable means, which because of the special category under which I process
            data, will be photographic ID.</p>
          <p>I will keep a record of any requests to access personal data.</p>


          <h5>6. Processes to ensure that the personal data I hold remains accurate and up to date.</h5>
          <p>I will ensure that client information is kept up to date during our treatments, and will update client information
            as I am informed of any changes.
          </p>
          <p>Once a year I will also have a wholesale review of all data.</p>

          <h5>7. Schedule to dispose of various categories of data, and its secure disposal.</h5>
          <p>Once a year I will review my client information and will place dormant clients in a separate file.  This will be
            assessed each month to ensure that data that is no longer required to be kept under GDPR is destroyed securely.</p>

          <h5>8. Procedures to respond to an individual’s request to restrict the processing of their personal data.</h5>

          <p>As I only hold data in order to provide treatments, I cannot envisage a situation where I would receive a request
            to restrict their processing of an individual’s personal data.  However, if I do receive a request I will respond
            as quickly as possible, and within one calendar month, explaining clearly what I currently do with their data
            and that I will continue to hold their data but will ensure that it is not processed.
          </p>


          <h5>9. Processes to allow individuals to move, copy or transfer their personal data from one IT environment to another
            in a safe and secure way, without hindrance to usability.
          </h5>

          <p>Should clients wish their data to be copied or transferred I would work with the client to ensure that this is
            done in a way that was most appropriate for them - for example this could be an electronic summary of treatment
            received and progress made, copies of individual treatment records.  I do not hold any treatment information
            electronically.
          </p>

          <h5>10. Procedures to handle an individual’s objection to the processing of their personal data.
          </h5>

          <p>I will inform my clients of their right to object “at the point of first communication” and have clearly laid this
            out in my privacy notice.</p>

          <h5>11. Processing operations that constitute automated decision making.
          </h5>

          <p>I do not have any processing operations that constitute automated decision making and therefore, do not currently
            require procedures in place to deal with the requirements.  This right is, however, included in  my privacy statement.</p>


          <h5>12. Data Protection Policy</h5>

          <p>This document forms my data protection policy and shows how I comply with GDPR.</p>

          <p>This is a live document and will be amended as and when any changes to my data processing takes place, at the very
            least it will be reviewed annually. As the only member of staff I believe that I have done an appropriate amount
            of research around the implications of the new GDPR, including taking heed of the advice and guidance provided
            by my professional membership organisations (AoR for my work as a Reflexologist).</p>

          <h5>13. Effective and structured information risks management</h5>

          <p>The risks associated with my data, and how that risk is managed is as follows:
          </p>

          <ul>
            <li>Theft of electronic devices - both have password locks on all electronic devices which are changed regularly
              and are not shared with anyone.
            </li>
            <li>Theft of paper file while at home all my paper files are stored in locked filing cabinet in my treatment room.
               I am the only key holder and my home is fitted with a burglar alarm.
            </li>
          </ul>

          <h5>14. Named Data Protection Officer (DPO) and Management Responsibility</h5>

          <p>Although not required to have a named DPO, as the sole employee I am the DPO and will ensure that I remain compliant
            with GDPR.
          </p>

          <h5>15. Security Policy</h5>
          <p>As detailed in my risk assessment.  I have also chosen my electronic equipment based on their industry record as
            having the most robust inbuilt protection possible.</p>

          <h5>16. Data Breach Policy</h5>

          <p>A personal data breach means a breach of security leading to the destruction, loss, alteration, unauthorised disclosure
            of, or access to, personal data.
          </p>
          <p>I understand that I only have to notify the ICO of a breach where it is likely to result in a risk to the rights
            and freedoms of individuals.
          </p>
          <p>Where a breach is likely to result in a high risk to the rights and freedoms of individuals, I will notify those
            concerned directly and without undue delay. In all cases I will maintain records of personal data breaches, whether
            or not they were notifiable to the ICO.
          </p>

          <p>Data Protection Policy created: 13 May 2018</p>
          <p>This is a live document and will be updated as and when changes occur.
          </p>
          <p>Date of Next Review: 13 May 2019</p>


        </div>

      </div>
    </div>

  </section>









  <!-- Required JavaScript Libraries -->
  <script src="public/lib/jquery/jquery.min.js "></script>
  <script src="public/lib/bootstrap/js/bootstrap.min.js "></script>
  <script src="public/lib/superfish/hoverIntent.js "></script>
  <script src="public/lib/superfish/superfish.min.js "></script>
  <script src="public/lib/morphext/morphext.min.js "></script>
  <script src="public/lib/wow/wow.min.js "></script>
  <script src="public/lib/stickyjs/sticky.js "></script>
  <script src="public/lib/easing/easing.js "></script>
  <script type="text/javascript " src="https://apis.google.com/js/plusone.js "></script>


  <!-- Template Specisifc Custom Javascript File -->

  <script src="public/js/custom.js "></script>
  <script src="public/js/scrollspy.js "></script> {{!--
  <script src="public/contactform/contactform.js "></script> --}}
  <script src="public/js/modal.js "></script>



</body>

</html>